.counts {
    background: #354a4b;
    color: #fff;
    border-radius: 5px;
    width: 225px;
}

.counts div {
    padding: 8px;
}

.counts span {
    float: right;
}

.counts .total {
    color: #dd5;
}