.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #db8515;
}

table {
  color: rgb(1, 25, 63);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #bdccbc;
  font-family: Arial, Helvetica, sans-serif;
}

.header-row {
    background: #354a4b;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}